@media screen and (max-width: 768px)
    html
        background-image: none !important
        background-color: black !important
        background-size: cover !important
    body
        background-size: cover !important
    .portfolio-img-style
        width: 80% !important
        height: 200px !important
        margin-bottom: 20px !important
    .main-box
        flex-direction: column !important
        align-items: center !important
        justify-content: center !important
    .right-box
        align-items: center !important
        justify-content: center !important
        margin: 0 !important
    .txt-html
        text-align: center !important
    .titre-right-box
        text-align: center !important
    .sous-titre-box
        text-align: center !important
        width: 80% !important
    .photo
        margin: 0 !important
    .center-div
        display: flex !important
        flex-direction: column !important
        align-items: center !important
        justify-content: center !important
    .me
        font-size: 28px !important
        text-align: center !important
        margin-top: 20px !important
    .webdesign
        font-size: 18px !important
    .right-nav
        display: none !important
    section
        height: 100% !important
        background-size: cover !important
    .left-nav
        background-color: black !important
        width: 100% !important
        margin: 0px !important
        padding: 0 !important
        height: 40px !important
        align-items: center !important
    .social
        margin: 0px !important
    .titre
        width: 100% !important
        padding: 0px !important
        margin-top: 40px !important
    .box-services
        width: 100% !important
        border: none !important
        background-color: unset !important
        text-shadow: 0px 0px 5px black !important
    .left-box-services, .right-box-services
        margin-left: 10px !important
        width: 90% !important
    .last-box
        margin-bottom: 40px !important
    .barre
        margin-top: 40px !important
        margin-bottom: 40px !important
    .box-contact
        width: 100% !important
        border: none !important
    .main-contact
        height: auto !important
        background-image: unset !important
    footer
        padding-bottom: 25% !important
    .email
        margin-top: 10px !important
        margin-bottom: 0px !important
    .align-items-center
        margin-bottom: 40px !important