@import ../sass/_tablet
@import ../sass/_mobile

$rougeViolet: #ff006a

html, body
    margin: 0
    width: 100%
    height: 100%
    background-color: black
    scroll-behavior: smooth
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifa
body
    position: relative
    animation: fadeIn 1s
section
    height: 450px
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    background-color: rgba(10, 10, 10, 1)
    background-image: url("/ressources/bg.jpg")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
.center-div
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    animation: fadeIn 2s
.photo
    width: 120px
    height: 120px
    object-fit: cover
    image-rendering: high-quality
    border-radius: 100%
    margin-right: 40px
    border: 2px solid $rougeViolet
.me
    color: white
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-size: 48px
    font-weight: 700
    margin: 0
.webdesign
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-weight: 500
    font-size: 30px
    color: white
    margin-top: 20px
    margin-bottom: 0
    margin-left: 0
    margin-right: 0
    color: rgb(255, 0, 106)
header
    padding-bottom: 2px

nav
    display: flex
    justify-content: space-between
    align-items: center
    color: white
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-size: 14px
    width: 100%

.lien-site
    color: white
    text-decoration: none
    &:hover
        color: $rougeViolet

.left-nav
    list-style-type: none
    display: flex
    flex-direction: row
    width: 20%
    justify-content: space-around
    text-transform: uppercase
    font-weight: 500
    letter-spacing: 1px
    font-size: 16px
    color: white
    padding-right: 20px

.social
    margin: 10px
    &:hover
        color: $rougeViolet
        cursor: pointer
        border-radius: 100%
        transition: 0.4s

.right-nav
    list-style-type: none
    display: flex
    flex-direction: row
    width: 40%
    justify-content: space-around
    text-transform: uppercase
    font-weight: 500
    letter-spacing: 1px
    font-size: 14px
    white-space: nowrap
    flex-wrap: nowrap

.hover-scale
    &:hover
        transform: scale(1.1)
        cursor: pointer

.right-nav-li
    margin: 10px
    &:hover
        color: $rougeViolet
        cursor: pointer
        transition: 0.4s

.bloc-portfolio
    width: 100%
    background-color: #000
    display: flex
    flex-direction: column
    justify-content: center

.last-box
    margin-bottom: 200px    

.titre
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    width: 40%
    align-self: flex-start
    padding-top: 30px
    margin-bottom: 30px

.folder-icon
    font-size: 18px
    color: $rougeViolet
    border: 2px solid $rougeViolet
    border-radius: 100%
    padding: 10px

.portfolio
    color: white
    font-weight: 500
    font-size: 30px
    margin-left: 30px
    letter-spacing: 2px

.services
    color: white
    font-weight: 500
    font-size: 30px
    margin-left: 30px
    letter-spacing: 2px

.folder-icon
    font-size: 18px
    color: $rougeViolet
    border: 2px solid $rougeViolet
    border-radius: 100%
    padding: 10px

a
    text-decoration: none
    color: unset

.box-portfolio
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.main-box
    display: flex
    justify-content: space-between
    flex-direction: row
    width: 90%
    &:hover
        transition: 0.4s
        transform: scale(1.02)

.titre-left-box
    color: $rougeViolet
    position: absolute
    z-index: 999
    left: 12%
    padding-top: 20px

.left-box
    display: flex
    width: 100%
    justify-content: center
    align-items: center
.right-box
    display: flex
    flex-direction: column
    width: 100%
    justify-content: center
    margin-left: 20px

.titre-right-box
    color: $rougeViolet
    margin: 0

.sous-titre-box
    color: white
    font-size: 16px
    font-weight: 300
    white-space: pre-wrap
    margin: 0
    width: 70%

.portfolio-img-style
    filter: grayscale(0.5)
    transition: 0.8
    height: 200px
    width: 400px
    object-fit: cover
    border-radius: 4px
    &:hover
        filter: grayscale(0)
        cursor: pointer
        transition: 0.8s

.barre
    display: flex
    align-items: center
    height: 2px
    width: 80%
    background-color: rgba(50, 50, 50, 1)
    margin-bottom: 80px
    margin-top: 80px

.arrow
    position: fixed
    color: black
    background-color: black
    right: 5%
    bottom: 5%
    background-color: $rougeViolet
    margin: 0
    font-size: 40px
    height: 35px
    width: 35px
    text-align: center
    &:hover
        transform: scale(1.1)

.absolute-midd
    position: fixed
    bottom: 50%
    left: 20px
    transform: translate(-50%)
    align-items: center
    color: $rougeViolet
    flex-direction: column
    .ol-absolute-midd
        display: flex
        list-style-type: none
        background-color: black
        padding: 15px
        height: 200px
        justify-content: space-around
        flex-direction: column
        border: 1px solid $rougeViolet

.unset-nav
    width: unset


.icons-used
    width: 25px
    height: 25px

.txt-html
    color: $rougeViolet
    font-size: 10px

.bloc-services
    width: 100%
    height: auto
    background-image: url(/ressources/services-bg.jpeg)
    background-size: cover
    background-position: center
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

.box-services
    width: 80%
    height: 100%
    background-color: rgba(0, 0, 0, 0.8)
    display: flex
    flex-direction: row
    padding-bottom: 20px
    border: 1px solid $rougeViolet

.left-box-services, .right-box-services
    color: white
    margin-left: 40px
    margin-top: 20px
    font-weight: 200
    width: 50%

.titre-left-box-services, .titre-right-box-services
    color: $rougeViolet
    font-size: 24px
    margin: 0

.sous-titre-left-box-services, .sous-titre-left-box-services
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-weight: 300
    text-decoration: underline

.left-box-services-list, .right-box-services-list
    list-style-type: circle

.right-box-services, .left-box-services
    width: 50%
    height: 100%


@keyframes fadeIn
    0%
        opacity: 0
        transform: translate(-40px)
    100%
        opacity: 1
        transform: translate(0px)

.margin-right
    margin-left: 50px

.main-contact
    width: 100%
    height: 100%
    justify-content: center
    align-items: center
    display: flex
    flex-direction: column

label
    color: white
    margin-right: 5px

.box-contact
    height: 60%
    width: 80%
    background-color: rgba(0, 0, 0, 0.8)
    border: 1px solid $rougeViolet
    display: flex
    justify-content: space-around
    align-items: center
    color: white
    flex-direction: row

.contact-icon
    font-size: 100px
    &:hover
        color: $rougeViolet
        transform: scale(1.1)
        transition: 0.4
        cursor: pointer

.email
    margin-top: 40px
    font-size: 14px
    letter-spacing: 1px
    font-weight: 300

.regroup
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: column

.align-items-center
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center

footer
    padding: 20px
    height: 75px
    color: white
    font-weight: 200
    font-size: 13px
    letter-spacing: 0.5px

.footer-ol
    list-style-type: none


.color-rv
    color: $rougeViolet

.privacy 
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 60%
    height: 60%
    color: white

.margin
    margin: 10px

.logo-portfolio
    display: flex
    flex-wrap: wrap
    flex-direction: row
    justify-content: space-around
    align-items: center
    height: 100%

.logo-box
    display: flex
    flex-direction: column
    color: white
    align-items: center
    margin-bottom: 20px

.margin-bottom-p
    margin-bottom: 5px

.img-portfolio-style-logo
    filter: saturate(0.5)
    transition: 0.4s
    height: 200px
    width: 280px
    object-fit: cover
    &:hover
        filter: saturate(1)
        transition: 0.4s
        transform: scale(1.05)



.filter-none
    filter: none !important

.portfolio-txt
    color: $rougeViolet
    font-size: 20px

.no-effect
    padding: none !important
    border: none !important

.more-margin
    margin: 30px !important

.hw
    width: 300px
    height: 200px
    display: flex !important
    align-items: center
    justify-content: center
    transition: 0.4
    &:hover
        transform: scale(1.2)
        transition: 0.4

.body-aligned
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    width: 80%
    margin: 0 auto
    height: 100%

.font-weight-med
    font-weight: 300
    font-size: 14px

.portfolio-active
    font-size: 20px !important
    color: white

.go-to-home
    color: $rougeViolet
    width: 100%
    margin-top: 200px
    margin-bottom: 100px
    cursor: pointer
    display: flex
    flex-direction: row
    align-items: center

.rotate
    display: flex
    align-items: center
    justify-content: center
    color: black
    background-color: $rougeViolet
    height: 40px
    width: 40px
    font-size: 30px
    margin-right: 10px