@import url(./ressources/Mermaid);
@import url(./ressources/S);
/* line 6, ../sass/main.sass */
html, body {
  margin: 0;
  height: 100%;
}
/* line 9, ../sass/main.sass */
html header, body header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  height: 50px;
  background-color: black;
  justify-content: space-between;
}
/* line 17, ../sass/main.sass */
html header .logo-bs, body header .logo-bs {
  object-fit: contain;
  margin-left: 10px;
  width: 200px;
  height: 31px;
  cursor: pointer;
}
/* line 23, ../sass/main.sass */
html header .navigation, body header .navigation {
  font-family: Calibri, sans-serif;
  font-size: 20px;
  color: white;
  width: 50%;
  display: flex;
  justify-content: space-between;
}
/* line 30, ../sass/main.sass */
html header .navigation ol, body header .navigation ol {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: 1s;
}
/* line 39, ../sass/main.sass */
html header .navigation ol li, body header .navigation ol li {
  border: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 2px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0px solid #4be6cd;
  cursor: pointer;
}
/* line 53, ../sass/main.sass */
html header .navigation ol li:hover, body header .navigation ol li:hover {
  border: 1px solid #4be6cd;
  padding: 1px;
}
/* line 56, ../sass/main.sass */
html header .navigation ol li .btn-nav, body header .navigation ol li .btn-nav {
  justify-content: center;
  border-style: none;
  background-color: unset;
  color: white;
  font-family: Calibri, sans-serif;
  font-size: 18px;
  margin: 0;
  cursor: pointer;
  width: 100%;
  text-align: center;
  height: 30px;
  align-items: center;
  display: flex;
}
/* line 70, ../sass/main.sass */
html header .navigation ol li:active, body header .navigation ol li:active {
  transform: scale(1.1);
  color: #4be6cd;
  border: none;
}
/* line 74, ../sass/main.sass */
html header .navigation ol li:hover, body header .navigation ol li:hover {
  color: white;
}
/* line 76, ../sass/main.sass */
html .block-int, body .block-int {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}
/* line 82, ../sass/main.sass */
html .block-int .slogan, body .block-int .slogan {
  color: black;
  font-size: 70px;
  position: absolute;
  bottom: 20%;
  left: 10%;
  width: 60%;
  flex-wrap: wrap;
  font-family: Mermaid, sans-serif;
  z-index: 999;
}
/* line 92, ../sass/main.sass */
html .block-int .slogan .sig, body .block-int .slogan .sig {
  color: #4be6cd;
}
/* line 94, ../sass/main.sass */
html .block-int .imghome, body .block-int .imghome {
  width: 65%;
  position: absolute;
  object-fit: cover;
  right: 4%;
  bottom: 16.5%;
  transition: 0.5s;
  box-shadow: 10px 10px 15px rgba(150, 150, 150, 0.582);
}
/* line 102, ../sass/main.sass */
html .block-int .imghome:hover, body .block-int .imghome:hover {
  width: 70%;
}
/* line 104, ../sass/main.sass */
html .block-int .coding, body .block-int .coding {
  object-fit: scale-down;
  position: absolute;
  bottom: 44%;
  left: 15%;
  z-index: 999;
}
/* line 110, ../sass/main.sass */
html footer, body footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: fixed;
  height: 55px;
  width: 100%;
  bottom: 0%;
  color: white;
}
/* line 120, ../sass/main.sass */
html footer .footer-list, body footer .footer-list {
  list-style-type: none;
  font-family: S, sans sans-serif;
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: space-between;
}
/* line 127, ../sass/main.sass */
html footer .footer-list .footer-icons, body footer .footer-list .footer-icons {
  width: 20px;
  height: 20px;
  object-fit: contain;
  padding: 6px;
}
/* line 132, ../sass/main.sass */
html footer .footer-list .footer-icons:hover, body footer .footer-list .footer-icons:hover {
  padding: 5px;
  border: 1px solid #4be6cd;
  cursor: pointer;
}
