@import url(./ressources/Mermaid);
@import url(./ressources/S);
/* line 6, ../sass/main.sass */
html, body {
  margin: 0;
  height: 100%;
}
/* line 9, ../sass/main.sass */
html header, body header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  height: 50px;
  background-color: black;
}
/* line 16, ../sass/main.sass */
html .logo-bs, body .logo-bs {
  object-fit: contain;
  margin-left: 10px;
  width: 201px;
  cursor: pointer;
}
/* line 21, ../sass/main.sass */
html .navigation, body .navigation {
  font-family: Calibri, sans-serif;
  font-size: 20px;
  color: white;
  width: 83%;
  display: flex;
  justify-content: flex-end;
}
/* line 28, ../sass/main.sass */
html .navigation ol, body .navigation ol {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: 1s;
  /*.home:hover ~ .line-home
   * opacity: 1
   * width: 105px
   * transition: opacity 0.6s, width 0.6s */
  /*.line
   * width: 0px
   * height: 2px
   * background-color: $turquoise
   * opacity: 0
   * position: absolute
   * top: 40px
   * transition: 1s */
}
/* line 37, ../sass/main.sass */
html .navigation ol li, body .navigation ol li {
  border: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 2px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0px solid #4be6cd;
  cursor: pointer;
}
/* line 51, ../sass/main.sass */
html .navigation ol li:hover, body .navigation ol li:hover {
  border: 1px solid #4be6cd;
  padding: 1px;
}
/* line 54, ../sass/main.sass */
html .navigation ol .btn-nav, body .navigation ol .btn-nav {
  justify-content: center;
  justify-content-border-style: none;
  justify-content-background-color: unset;
  justify-content-color: white;
  justify-content-font-family: Calibri, sans-serif;
  justify-content-font-size: 18px;
  justify-content-margin: 0;
  justify-content-cursor: pointer;
  justify-content-width: 100%;
  justify-content-text-align: center;
  justify-content-height: 30px;
  justify-content-align-items: center;
  justify-content-display: flex;
}
/* line 68, ../sass/main.sass */
html .navigation ol .btn-nav:active, body .navigation ol .btn-nav:active {
  transform: scale(1.1);
  color: #4be6cd;
  border: none;
}
/* line 72, ../sass/main.sass */
html .navigation ol .btn-nav:hover, body .navigation ol .btn-nav:hover {
  color: white;
}
/* line 87, ../sass/main.sass */
html .block-int, body .block-int {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}
/* line 93, ../sass/main.sass */
html .block-int .slogan, body .block-int .slogan {
  color: black;
  font-size: 70px;
  position: absolute;
  bottom: 20%;
  left: 10%;
  width: 60%;
  flex-wrap: wrap;
  font-family: Mermaid, sans-serif;
  z-index: 999;
}
/* line 103, ../sass/main.sass */
html .block-int .slogan .sig, body .block-int .slogan .sig {
  color: #4be6cd;
}
/* line 105, ../sass/main.sass */
html .block-int .imghome, body .block-int .imghome {
  width: 65%;
  position: absolute;
  object-fit: cover;
  right: 4%;
  bottom: 16.5%;
  transition: 0.5s;
  box-shadow: 10px 10px 15px rgba(150, 150, 150, 0.582);
}
/* line 113, ../sass/main.sass */
html .block-int .imghome:hover, body .block-int .imghome:hover {
  width: 70%;
}
/* line 115, ../sass/main.sass */
html .block-int .coding, body .block-int .coding {
  object-fit: scale-down;
  position: absolute;
  bottom: 44%;
  left: 15%;
  z-index: 999;
}
/* line 121, ../sass/main.sass */
html footer, body footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: fixed;
  height: 55px;
  width: 100%;
  bottom: 0%;
  color: white;
}
/* line 131, ../sass/main.sass */
html footer .footer-list, body footer .footer-list {
  list-style-type: none;
  font-family: S, sans sans-serif;
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: space-between;
}
/* line 138, ../sass/main.sass */
html footer .footer-list .footer-icons, body footer .footer-list .footer-icons {
  width: 20px;
  height: 20px;
  object-fit: contain;
  padding: 6px;
}
/* line 143, ../sass/main.sass */
html footer .footer-list .footer-icons:hover, body footer .footer-list .footer-icons:hover {
  padding: 5px;
  border: 1px solid #4be6cd;
  cursor: pointer;
}
